<div class="w-full height: 98vh;">
    <div class="main-container" style="width: 100%;height: 100%;">
        <div class="header" style="width: 97%;margin: auto;margin-bottom: 2%;height: 13%;padding-top: 5%;">
            <h2 *ngIf="isCashMemo" style="color:#4d4d4d;font-weight:900;letter-spacing:1px;">EXIMPANEL</h2>
            <table style="width: 100%;" *ngIf="!isCashMemo">
                <tr>
                    <td>
                        <div class="logo">
                            <img src="assets/images/Eximine.png" style="height:50px;" alt="" />
                        </div>
                    </td>
                    <td>
                        <div class="address" style="margin-bottom: -10px;width: fit-content;float: right">
                            <div class="company" style="font-weight: 600;font-family: 'Roboto';letter-spacing: 0.8px;color:#4d4d4d;margin-bottom: 5px;font-size: 17px;">EXIMINE PRIVATE LIMITED</div>
                            <div class="add"
                                style="font-family: sans-serif;letter-spacing: 0.7px;line-height: 18px;color: #403d3d;font-size: 13px;">
                                20 & 21, Dwarka Sector-16A,<br />New Delhi-110059</div>
                            <div class="ph"
                                style="font-family: sans-serif;letter-spacing: 0.7px;line-height: 18px;color: #403d3d;font-size: 13px;">
                                Cust.Care:- +911145536444</div>
                            <div class="mail"
                                style="font-family: sans-serif;letter-spacing: 0.7px;line-height: 18px;color: #403d3d;font-size: 13px;">
                                Email:- sales@eximine.com</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="hr-line" style="width: 97%;margin: auto; height: 2.5px;margin-bottom: 5px;border-bottom: 3px solid gray;border-top: 1px solid gray;"></div>
        
        <h2 style="width: 100%;text-align: center;letter-spacing: 1px;font-size: 20px;font-weight: 600;font-family: sans-serif;color: #403d3d;text-transform: uppercase;">
            <span *ngIf="isCashMemo">Cash Memo</span>
            <span *ngIf="!isCashMemo">{{isProformaInvoice? 'Proforma Inovice': 'Invoice'}}</span>
        </h2>

        <div class="gstin" style="margin: auto; margin-bottom: 10px;width: 97%;">
            <table style="width: 100%;">
                <tr>
                    <td *ngIf="!isCashMemo">
                        <div style="font-size: 12px;letter-spacing: 0.5px;"><span style="font-weight: bold;margin-right:5px;">PAN NO:</span>AAGCE4130J</div>
                        <div style="font-size: 12px;letter-spacing: 0.5px;"><span style="font-weight: bold;margin-right:5px;">GSTIN:</span>07AAGCE4130J1ZS</div>
                    </td>
                    <td>
                        <div class="plno" style="font-size: 12px;letter-spacing: 0.5px;width: fit-content;float: right;">
                            <div *ngIf="!isProformaInvoice && !isCashMemo"><span style="font-weight: bold;margin-right:5px;">Invoice No.:</span>{{invoiceData?.taxNum}}</div>
                            <div *ngIf="!isCashMemo"><span style="font-weight: bold;margin-right:5px;">{{isProformaInvoice?'PI No':'Order No'}}.:</span>{{invoiceData?.performaNum}}</div>
                            <div *ngIf="isCashMemo"><span style="font-weight: bold;margin-right:5px;">S.No.:</span>{{invoiceData?.performaNum}}</div>
                            <div><span style="font-weight: bold;margin-right:5px;">Date:</span>{{invoiceData?.invoiceDate | date:'d MMM, y'}}</div>
                            <!-- <div><span style="font-weight: bold;margin-right:5px;">Valid till:</span>{{issueDate}}</div> -->
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <table style="margin: auto; margin-bottom: 10px;width: 97%;border: 1px solid;border-collapse: collapse;">
            <thead>
                <th style="width:50%;text-align:left;border: 1px solid;padding: 3px;font-size: 12px;">
                    <span *ngIf="!isCashMemo">Billing Address</span>
                    <span *ngIf="isCashMemo">Contact Details</span>
                </th>
                <th *ngIf="!isCashMemo" style="width:50%;text-align:left;border: 1px solid;padding: 3px;font-size: 12px;">Shipping Address</th>
            </thead>
            <tbody>
                <tr>
                    <td style="border: 1px solid;padding: 3px;font-size: 12px;">
                        <div class="td-box">
                            <div *ngIf="!isUserDetailsRemoved">{{invoiceData?.clientName}}</div>
                            <div *ngIf="!isCashMemo">{{invoiceData?.companyName}}</div>
                            <div *ngIf="(invoiceData | json) != '{}' && invoiceData?.address[0]">{{invoiceData?.address[1]?.line1}}</div>
                            <div *ngIf="(invoiceData | json) != '{}' && invoiceData?.address[0]">{{invoiceData?.address[1]?.line2}}</div>
                            <div *ngIf="!isCashMemo"><span class="bold">GSTIN:</span>&nbsp;&nbsp;{{invoiceData?.gstNumber}}</div>
                            <div *ngIf="!isUserDetailsRemoved"><span class="bold">Email:</span>&nbsp;&nbsp;{{invoiceData?.clientEmail}}</div>
                            <div *ngIf="!isUserDetailsRemoved"><span class="bold">Phone:</span>&nbsp;&nbsp;{{invoiceData?.clientPhone}}</div>
                        </div>
                    </td>
                    <td *ngIf="!isCashMemo" style="border: 1px solid;padding: 3px;font-size: 12px;">
                        <div class="td-box">
                            <div *ngIf="!isUserDetailsRemoved">{{invoiceData?.clientName}}</div>
                            <div>{{invoiceData?.companyName}}</div>
                            <div *ngIf="(invoiceData | json) != '{}' && invoiceData?.address[1]">{{invoiceData?.address[0]?.line1}}</div>
                            <div *ngIf="(invoiceData | json) != '{}' && invoiceData?.address[1]">{{invoiceData?.address[0]?.line2}}</div>
                            <div><span class="bold">GSTIN:</span>&nbsp;&nbsp;{{invoiceData?.gstNumber}}</div>
                            <div *ngIf="!isUserDetailsRemoved"><span class="bold">Email:</span>&nbsp;&nbsp;{{invoiceData?.clientEmail}}</div>
                            <div *ngIf="!isUserDetailsRemoved"><span class="bold">Phone:</span>&nbsp;&nbsp;{{invoiceData?.clientPhone}}</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <table *ngIf="!isCashMemo" style="margin: auto; margin-bottom: 10px;width: 97%;border: 1px solid;border-collapse: collapse;">
            <thead>
                <th style="border: 1px solid;text-align: left;font-size: 12px;padding: 3px;">No.</th>
                <th style="border: 1px solid;text-align: left;font-size: 12px;padding: 3px;">Item & Description</th>
                <th style="border: 1px solid;text-align: left;font-size: 12px;padding: 3px;">HSN/SAC</th>
                <th style="border: 1px solid;text-align: left;font-size: 12px;padding: 3px;">Qty.</th>
                <th style="border: 1px solid;text-align: left;font-size: 12px;padding: 3px;">Unit</th>
                <th style="border: 1px solid;text-align: left;font-size: 12px;padding: 3px;">Rate (₹)</th>
                <th style="border: 1px solid;text-align: left;font-size: 12px;padding: 3px;">Taxable (₹)</th>
                <th style="border: 1px solid;text-align: left;font-size: 12px;padding: 3px;" *ngIf="isUserFromDelhi">CGST</th>
                <th style="border: 1px solid;text-align: left;font-size: 12px;padding: 3px;" *ngIf="isUserFromDelhi">SGST</th>
                <th style="border: 1px solid;text-align: left;font-size: 12px;padding: 3px;" *ngIf="!isUserFromDelhi">IGST</th>
                <th style="border: 1px solid;text-align: left;font-size: 12px;padding: 3px;">Amount (₹)</th>
            </thead>
            <tbody>
                <tr>
                    <td style="border: 1px solid;font-size: 12px;padding: 3px;">1</td>
                    <td style="border: 1px solid;font-size: 12px;padding: 3px;">
                        <div>
                            <div style="font-weight:600;">{{invoiceData?.reportName | titlecase}}</div>
                            <div>{{invoiceData?.duration | titlecase}}</div>
                        </div>
                    </td>
                    <td style="border: 1px solid;font-size: 12px;padding: 3px;">{{invoiceData?.hsnSac}}</td>
                    <!-- {{invoiceData?.qty}} -->
                    <td style="border: 1px solid;font-size: 12px;padding: 3px;"></td>
                    <td style="border: 1px solid;font-size: 12px;padding: 3px;">{{invoiceData?.unit}}</td>
                    <td *ngIf="(invoiceData | json) != '{}' && invoiceData?.amount[0]" style="border: 1px solid;font-size: 12px;padding: 3px;">{{numToStr(invoiceData?.amount[0])}}</td>
                    <td *ngIf="(invoiceData | json) != '{}' && invoiceData?.amount[0]" style="border: 1px solid;font-size: 12px;padding: 3px;">{{numToStr(invoiceData?.amount[0])}}</td>
                    <td style="border: 1px solid;font-size: 12px;padding: 3px;" *ngIf="isUserFromDelhi">{{numToStr(invoiceData?.gstTax?.cgst)}}%</td>
                    <td style="border: 1px solid;font-size: 12px;padding: 3px;" *ngIf="isUserFromDelhi">{{numToStr(invoiceData?.gstTax?.sgst)}}%</td>
                    <td style="border: 1px solid;font-size: 12px;padding: 3px;" *ngIf="!isUserFromDelhi">{{numToStr(invoiceData?.gstTax?.igst)}}%</td>
                    <td *ngIf="(invoiceData | json) != '{}' && invoiceData?.amount[1]" style="border: 1px solid;font-size: 12px;padding: 3px;">{{numToStr(invoiceData?.amount[1])}}</td>
                </tr>
            </tbody>
        </table>

        <div class="particulars mx-auto" style="width: 97%;" *ngIf="isCashMemo">
            <div class="headings w-full flex align-items-center">
                <div class="s-no" style="width: 5%;">No.</div>
                <div class="particular" style="width: 55%;">Description</div>
                <div class="qty" style="width: 10%;">Qty.</div>
                <div class="rate" style="width: 15%;">Rate</div>
                <div class="total" style="width: 15%;">Total</div>
            </div>
            <div class="body w-full flex align-items-center">
                <div class="s-no" style="width: 5%;">1</div>
                <div class="particular" style="width: 55%;">
                    <div style="font-weight:600;">{{invoiceData?.reportName}}</div>
                    <div>DURATIONS - {{invoiceData?.duration}}</div>
                </div>
                <div class="qty" style="width: 10%;">{{invoiceData?.qty}}</div>
                <div *ngIf="(invoiceData | json) != '{}' && invoiceData?.amount[0]" class="rate" style="width: 15%;">{{numToStr(invoiceData?.amount[0])}}</div>
                <div *ngIf="(invoiceData | json) != '{}' && invoiceData?.amount[0]" class="total" style="width: 15%;">{{numToStr(invoiceData?.amount[0] * invoiceData?.qty)}}</div>
            </div>
        </div>

        <div *ngIf="!isCashMemo" class="calculated-box flex">
            <div class="bank-details flex-1" style="width: 38%;">
                <div style="font-size: 12px;margin-bottom: 5px;"><span class="bold">Bank Details:</span></div>
                <div>
                    <div style="margin-bottom: 2px;"><span class="bold">Bank Name:</span>&nbsp;{{invoiceData?.bankData?.bankName}}</div>
                    <div style="margin-bottom: 2px;"><span class="bold">Branch:</span>&nbsp;{{invoiceData?.bankData?.branch}}</div>
                    <div style="margin-bottom: 2px;"><span class="bold">Account No.:</span>&nbsp;{{invoiceData?.bankData?.accountNo}}</div>
                    <div><span class="bold">IFSC:</span>&nbsp;{{invoiceData?.bankData?.ifsc}}</div>
                </div>
            </div>
            <div class="rupees-in-words h-full" style="width: 29%;">
                <div style="font-size: 12px;margin-bottom: 5px;">Total Amount in Words:</div>
                <div style="font-weight: 600;">{{invoiceData?.amoutInStr}}</div>
            </div>
            <div class="calculation flex flex-column" style="width: 33%;">
                <div class="key-value">
                    <div style="font-size: 12px;padding: 3px;">Amt. before Tax (₹)</div>
                    <div style="font-size: 12px;padding: 3px;" *ngIf="(invoiceData | json) != '{}' && invoiceData?.amount[0]">{{numToStr(invoiceData?.amount[0])}}</div>
                </div>
                <div class="key-value" *ngIf="isUserFromDelhi">
                    <div style="font-size: 12px;padding: 3px;">{{isUserFromDelhi? 'Add CGST (₹)': ''}}</div>
                    <div style="font-size: 12px;padding: 3px;">{{isUserFromDelhi? numToStr(invoiceData?.gstAmt?.cgstAmt): ''}}</div>
                </div>
                <div class="key-value" *ngIf="isUserFromDelhi">
                    <div style="font-size: 12px;padding: 3px;">Add SGST (₹)</div>
                    <div style="font-size: 12px;padding: 3px;">{{numToStr(invoiceData?.gstAmt?.sgstAmt)}}</div>
                </div>
                <div class="key-value" *ngIf="!isUserFromDelhi">
                    <div style="font-size: 12px;padding: 3px;">Add IGST (₹)</div>
                    <div style="font-size: 12px;padding: 3px;">{{numToStr(invoiceData?.gstAmt?.igstAmt)}}</div>
                </div>
                <div class="key-value">
                    <div style="font-size: 12px;padding: 3px;">Discount (₹)</div>
                    <div style="font-size: 12px;padding: 3px;">{{numToStr(invoiceData?.discount)}}</div>
                </div>
                <div class="key-value">
                    <div style="font-size: 12px;padding: 3px;font-weight: 600;">Grand Total (₹)</div>
                    <div *ngIf="(invoiceData | json) != '{}' && invoiceData?.amount[1]" style="font-size: 12px;padding: 3px;">{{numToStr(invoiceData?.amount[1])}}</div>
                </div>
            </div>
        </div>

        <table *ngIf="!isCashMemo" style="margin: auto; width: 97%;border: 1px solid;margin-bottom: 2px;">
            <tbody>
                <tr>
                    <td style="font-size: 12px;padding: 3px;font-weight: 600;">Terms & Conditions:</td>
                </tr>
                <tr>
                    <td style="font-size: 12px;padding: 3px;">&#x2022; Note: 1. Please make Cheque in favor of "EXIMINE
                        PRIVATE LIMITED".&nbsp;&nbsp;2. Online Payment is also available.&nbsp;&nbsp;3. Validity of the
                        invoice is 21 Days.&nbsp;&nbsp;4. TDS reduction 2%.</td>
                </tr>
            </tbody>
        </table>

        <table style="margin: auto; width: 97%;border: 1px solid;border-collapse: collapse;margin-bottom: 10px;">
            <tbody>
                <tr>
                    <td rowspan="2" style="border-right: 1px solid;"></td>
                    <td style="font-size: 12px;padding: 3px;width: 30%;text-align: center;padding-bottom: 30px;position: relative;">
                        <img *ngIf="!isStampRequired" style="position: absolute;width: 130px;top: 15%;opacity: 0.95;" src="assets/images/stamp.png" alt="" />
                        For, {{!isCashMemo? 'Eximine Pvt. Ltd.': 'Eximpanel'}}
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding: 3px;border-right: 1px solid;">
                        <div style="font-size: 12px;">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 80%;">
                                        <span style="font-size: 12px;">This is a computer-generated {{isCashMemo ? 'cash memo' : isProformaInvoice ? 'proforma invoice' : 'tax invoice'}}.</span>
                                    </td>
                                    <td style="width: 20%;">
                                        <div style="text-align: right;font-size: 12px;">E. & O. E</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td style="font-weight: 600;font-size: 12px;padding: 3px;width: 30%;text-align: center;">Authorised Signatory</td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="!isCashMemo" style="margin: auto; width: 97%;">
            <table style="width: 50%;border: 1px solid;border-collapse: collapse;">
                <thead>
                    <th style="border: 1px solid;text-align: left;padding: 3px;font-size: 12px;">HSN/SAC Code</th>
                    <th style="border: 1px solid;text-align: left;padding: 3px;font-size: 12px;">Taxable (₹)</th>
                    <th style="border: 1px solid;text-align: left;padding: 3px;font-size: 12px;" *ngIf="isUserFromDelhi">CGST %</th>
                    <th style="border: 1px solid;text-align: left;padding: 3px;font-size: 12px;" *ngIf="isUserFromDelhi">CGST (₹)</th>
                    <th style="border: 1px solid;text-align: left;padding: 3px;font-size: 12px;" *ngIf="isUserFromDelhi">SGST %</th>
                    <th style="border: 1px solid;text-align: left;padding: 3px;font-size: 12px;" *ngIf="isUserFromDelhi">SGST (₹)</th>
                    <th style="border: 1px solid;text-align: left;padding: 3px;font-size: 12px;" *ngIf="!isUserFromDelhi">IGST %</th>
                    <th style="border: 1px solid;text-align: left;padding: 3px;font-size: 12px;" *ngIf="!isUserFromDelhi">IGST (₹)</th>
                </thead>
                <tbody>
                    <tr>
                        <td style="border: 1px solid;text-align: left;padding: 3px;font-size: 12px;">{{invoiceData?.hsnSac}}</td>
                        <td *ngIf="(invoiceData | json) != '{}' && invoiceData?.amount[0]" style="border: 1px solid;text-align: left;padding: 3px;font-size: 12px;">{{numToStr(invoiceData?.amount[0])}}</td>
                        <td style="border: 1px solid;text-align: left;padding: 3px;font-size: 12px;" *ngIf="isUserFromDelhi">{{numToStr(invoiceData?.gstTax?.cgst)}}</td>
                        <td style="border: 1px solid;text-align: left;padding: 3px;font-size: 12px;" *ngIf="isUserFromDelhi">{{numToStr(invoiceData?.gstAmt?.cgstAmt)}}</td>
                        <td style="border: 1px solid;text-align: left;padding: 3px;font-size: 12px;" *ngIf="isUserFromDelhi">{{numToStr(invoiceData?.gstTax?.sgst)}}</td>
                        <td style="border: 1px solid;text-align: left;padding: 3px;font-size: 12px;" *ngIf="isUserFromDelhi">{{numToStr(invoiceData?.gstAmt?.sgstAmt)}}</td>
                        <td style="border: 1px solid;text-align: left;padding: 3px;font-size: 12px;" *ngIf="!isUserFromDelhi">{{numToStr(invoiceData?.gstTax?.igst)}}</td>
                        <td style="border: 1px solid;text-align: left;padding: 3px;font-size: 12px;" *ngIf="!isUserFromDelhi">{{numToStr(invoiceData?.gstAmt?.igstAmt)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>